body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
.navigation {
  height: auto;
  width: auto;
  display: flex;
  background-color: #0B0B22;
}

hr {
  margin: 0;
  border: none;
  background-color: #545464;
  height: 2px
}

.nav-left, .nav-right{
  width: 50%;
  height: 75px;
  display: flex;
  align-items: center;
}
  
.jungle-icon {
  width: 50px;
  margin-left: 25%;
}

.nav-left-title{
  margin-left: 10px;
  font-size: 24px;
  color: #E3DAC9;
}

.nav-right-list {
  list-style-type: none;
  margin: 0 ;
  padding: 0 0 0 25%;
  display: flex;
}
.nav-right-list .nav-list-item a {
  margin-right: 20px;
  font-size: 22px;  
  text-decoration: none;
  color: #E3DAC9; 
}

.background-image{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}
