body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
.navigation {
  height: auto;
  width: auto;
  display: flex;
  background-color: #0B0B22;
}

hr {
  margin: 0;
  border: none;
  background-color: #545464;
  height: 3px
}

.nav-left, .nav-right{
  width: 50%;
  height: 75px;
  display: flex;
  align-items: center;
}
  
.jungle-icon {
  width: 50px;
  margin-left: 25%;
}

.nav-left-title{
  margin-left: 10px;
  font-size: 24px;
  color: #E3DAC9;
}

.nav-right-list {
  list-style-type: none;
  margin: 0 ;
  padding: 0 0 0 25%; 
  display: flex;
}
.nav-right-list .nav-list-item a {
  margin-right: 40px;
  font-size: 20px;  
  text-decoration: none;
  color: #E3DAC9; 
  font-family: 'Roboto', sans-serif;
}

.nav-right-list a:hover {
  color: #6161aa;
  transition: color 0.3s ease; 
}

.container {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.text-over-background {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E3DAC9;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.text-over-background h1{
  font-size: 60px;
  margin: 0;
  padding: 0;
}
.text-over-background p{
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.champion-icons {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
}

.champion-card {
  width: 130px;
  height: 170px;
  margin: 0 40px 0 40px;
  background-color: #0B0B22;
  position: relative;
  border-radius: 20px;
}

.champion-card:hover{
  box-shadow: 0 10px 10px rgba(0,0,0,0.8) ;
  cursor: pointer;

}

.champion-card img {
  width: 60%; 
  margin-top: 20px;
  padding: 0;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.champion-card h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #E3DAC9;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.footer{
  width: auto;
  height: 100px;
  margin:0;
  padding:0;
  background-color: #0B0B22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.footer p{
  margin: 0;
  color: #E3DAC9;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.champ-info {
  background-color: #0B0B22;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.champ-info-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.champ-info-right{
  width: 50%;
  height: 100%;
  background-color: #0B0B22;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: -5px 0 -5px;
}

.champ-info-left-photo {
  width: 20%;
  height: 100%;
  background-color: #0B0B22;
}

.champ-info-left-abilities {
  width: 80%;
  height: 100%;
  background-color: #0B0B22;
}

.champ-info-left-photo img {
  width: 100px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.champ-info-left-title {
  height: 35%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #E3DAC9;
  margin-left: 15px;

}

.abilities, .strong-against, .weak-against {
  list-style-type: none; 
  display: flex; 
  padding: 0 0 0 15px; 
  margin: 0; 
}

.abilities li, .strong-against li, .weak-against li{
  margin-right: 30px; 
}

.abilities img {
  width: 51px;
}

.champ-info-strong, .champ-info-weak{
  width: 30%;
  height: 80%;
  margin: 0 25px 0 25px;
}

.champ-info-strong, .champ-info-weak{
  background-color: #08083E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strong-against img, .weak-against img {
  padding: 0;
  margin: 0;
  width: 70px;
}

.champ-info-strong h1, .champ-info-weak h1 {
  height: 30%;
  margin: 0;
  padding: 3px 0 10px 0 ;
  color: #E3DAC9;
  font-size: 25px;
}

.runes-info-eve { 
  background-image: url(../images/splash/evelynn_splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.runes-info-karthus { 
  background-image: url(../images/splash/karthus_splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.runes-info-lillia { 
  background-image: url(../images/splash/lillia_splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.runes-info-kayn { 
  background-image: url(../images/splash/kayn_splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.runes-info-khazix { 
  background-image: url(../images/splash/khazix_splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.runes-info-jarvan { 
  background-image: url(../images/splash/jarvan_splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.spells-runes{
  width: 50%;
  height: 100%;
  margin: 0 55px 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spells{
  margin-top: 80px;
  background-color: #181838;
  width: 100%;
  height: 15%;
}

.spells h1, .runes h1 {
  color: #E3DAC9;
  font-size: 26px;
  margin: 0;
  padding: 15px 0 0 20px;
}

.spells-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 20px;
}

.spells-list li {
  margin-right: 30px;
}

.spells-list img {
  width: 45px;
  margin: 10px 0 0 0;  
}

.runes {
  background-color: #181838;
  width: 100%;
  height: 85%;
  margin-bottom: 120px;
}

.runes img{
  width: 550px;
  margin: 10px 0 0 0;
  padding-left: 20px;
}
.tips {
  background-color: #181838;
  width: 40%;
  height: 82%;
  margin: 80px 10% 0 105px;
  padding:0;
}

.tips h1 {
  color: #E3DAC9;
  font-size: 26px;
  margin: 0;
  padding: 15px 0 0 20px;
}

.tips-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 120px;
}

.tips-list li {
  margin: -5px;
  width: 80%;
  padding: 0;
  color:#E3DAC9;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.tips-list li strong{
  color: #C89B4B;
}

.skills, .items{
  width: 100%;
  height: 275px;
  background-color: #0B0B22;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.items{
  height: 230px;
}

.skills img{
  height: 250px;
  margin: 0;
  padding: 0;
}

.skills-khazix img {
  height: 226px;
  margin: 0;
  padding: 0;
}

.skills-lillia img {
  height: 222px;
  margin: 0;
  padding: 0;
}

.skills-jarvan img {
  height: 222px;
  margin: 0;
  padding: 0;
}

.skills-kayn img {
  height: 222px;
  margin: 0;
  padding: 0;
}

.skill-priority {
  margin-right: 2px;
}

.items img {
  height: 202px;
  margin: 0 2px 0 2px;
  padding: 0;
}

.clear-path{
  width: 100%;
  height: 720px;
  background-color: #0B0B22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.clear-path h1{
  color: #E3DAC9;
  font-size: 26px;
  margin: 0;
  padding-bottom: 10px;
}

.clear-path img{
  width: 850px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #0B0B22;
  color: #E3DAC9;
  font-family: 'Roboto', sans-serif;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #cbaaaa;
  border-radius: 10px;
  width: 80%; 
  box-shadow: 0 10px 10px rgba(0,0,0,0.8) ;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-content img, .modal-content h2{
  margin: 0 5px 0 5px;
}

.modal-content p{
  margin: 0 5px 0 5px;
  padding: 0;
  font-size: 16px;
}

.modal-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.ability {
  position: relative;
}

.ability-info {
  display:none;
  position: absolute;
  bottom: -20px;
  left:0;
  background-color: #fff;
  padding: 5px;
  text-align: center;
}

